
.name-input {
  width: 100%;
  margin: 0 1.5lvh;
  padding: 0.8vw;
  background: #421208; 
  border: 0.375lvh solid #444;
  color: #ead7b3;
  font-family: 'GaramondBold', serif;
  font-size: 1.7vw;
  text-align: center;
  outline: none;
  border-radius: 0.5lvh;
  z-index: 1;
}

.name-input::placeholder {
  color: rgba(234, 215, 179, 0.3);
}

.name-input:focus + .button-frame {
  filter: brightness(1.3) drop-shadow(0 0 1lvh rgba(234, 215, 179, 0.5));
}

.name-panel .start-game-btn {
  margin-top: 5lvh;
}

.name-panel {
  background-image: url('/assets/ui/reg_bar.png');
  height: 85%
}

.grade-badge {
  background-image: url('/assets/ui/grade_bar.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 5lvh;
  padding-bottom: 2lvh;
  font-family: 'GaramondBold', serif;
  font-size: 2.5vw;
  color: rgb(222, 149, 47);
  text-transform: uppercase;
  margin-bottom: 1lvh;
  letter-spacing: 0.5lvh;
  -webkit-text-stroke: 0.25lvh rgb(222, 149, 47);
  text-shadow: 0.125lvh 0.125lvh 0.25lvh rgba(0, 0, 0, 0.8);
}

.intro-lore-text {
  font-family: 'GaramondBold', serif;
  font-size: 1.3vw;
  line-height: 1.3;
  color: rgba(99, 15, 15);
  padding-bottom: 3vw;
  text-align: center;
  
  text-shadow: 0.125lvh 0.125lvh 0.25lvh rgba(0, 0, 0, 0.8);
}

.name-panel .header-container {
  padding-bottom: 1lvh;
}

.name-input {
  font-size: 1.2vw;
}

.reg-btn {
  background-image: url('/assets/ui/accept_button.png');
  background-size: 100% 100%;
  padding: 4vmin;
}