.game-wrapper {
  position: relative;
  aspect-ratio: 16 / 9;
  
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  
  background-color: #000;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.8);
  
  display: flex;
  flex-direction: column;
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'GaramondBold';
  src: url('/assets/fonts/garamondcond_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.fade-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  transition: opacity 0.5s ease-in-out;
}

.fade-overlay.active {
  opacity: 1;
  pointer-events: all;
}