:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Запрещаем скролл */
  background-color: #1a1a1a; /* Цвет «пустоты» вокруг игры */
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'GaramondBold';
  src: url('/assets/fonts/Garamondcond-Bold.woff2') format('woff2'),
       url('/assets/fonts/Garamondcond-Bold.woff') format('woff'),
       url('/assets/fonts/Garamondcond-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CiryllicHover';
  src: url('/assets/fonts/CyrillicHover.woff2') format('woff2'),
       url('/assets/fonts/CyrillicHover.woff') format('woff'),
       url('/assets/fonts/CyrillicHover.ttf') format('truetype');;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}